.guilds-container {
  display: block flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.guilds-container ul {
  list-style-type: none;
}
.guilds-container ul li {
  margin: 3% 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.guilds-container ul li button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.guilds-container ul li button div {
  border-radius: 50%;
  background: #dedede;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guilds-container ul li button div img {
  background-color: #ffffff50;

  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.guilds-container ul li button div p {
  color: black;
  position: absolute;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  transition: 0.5s ease;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 10%;
  padding: 1%;
}

.guilds-container ul li button:hover {
    font-size: 1.6em;
    opacity: 1;

}

